:root {
    --primary-color: #031e50fd;
    --secondary-color: #f2f22a;
    --accent1-color: #030f366a;
    --accent2-color: #e3ae32;
    --heading-font: "Verdana", "Georgia", serif;
    --body-font: sans-serif, "Garamond", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    margin: 0.8rem auto;
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    align-items: center;
    background-color: #e3ae32;
    border: 1px solid #000;
    max-width: 1000px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex-direction: column;
}

.navigation a {
    display: block;
    color: #000;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #000;
}

.hero article {
    position: absolute;
    top: 259px;
    width: 100%;
    padding: 16px;
    margin-left: auto;
    text-align: left;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;

}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

section h2 {
    top: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

section p {
    text-align: center;
    color: var(--primary-color);

}

section img {
    width: 240px;
    height: auto;
    float: right;
}

.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.figures img {
    display: block;
    width: 143px;
    height: auto;

}

.figures {
    display: flex;
    gap: 150px;
    text-align: center;
    justify-content: center;
}

.socialmedia a {
    margin: 0;
    padding: 10px;
    opacity: 0.9;
    text-decoration: none;
}

footer {
    border-top: 1px solid #000;
    text-align: right;
    justify-content: center;
}

.about h1 {
    position: relative;
    padding-bottom: 100px;
    background-color: darkblue;
    color: var(--accent2-color);
    padding: 20px;

}

.contact {
    text-align: center;
}

.map {
    display: flex;
    align-items: center;
    gap: 50px;
}

.radio-label {
    display: block;
    margin-top: 10px;
    margin-left: 150px;
    padding: 10px;
}

.message-label {
    float: left;
    margin-top: 80px;
    padding: 10px;
}

button {
    width: 300px;
}

.hero-2 {
    position: relative;
}

.hero-2 img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.hero-2 h1 {

    position: absolute;
    top: 60px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #000;

}

.call {
    position: absolute;
    top: 691px;
    left: 532px;
    width: 18%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: darkgoldenrod;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.information {
    position: absolute;
    width: 299px;
    height: auto;
    bottom: 130px;
    left: 530px;
    color: #000;
    background-color: #e3ae32;
}

.figures_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    color: #000;
}

.figures_2 img {
    width: 300px;
    height: auto;
}

.trip-options {
    display: flex;
    padding: 50px;
    left: 100px;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
    color: #000;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
    margin: 0 auto;
    width: 790px;
}

th,
td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}