:root {
    --primary-color: #031e50fd;
    --secondary-color: #f2f22a;
    --accent1-color: #030f366a;
    --accent2-color: #e3ae32;
    --heading-font: "Verdana", "Georgia", serif;
    --body-font: sans-serif, "Garamond", Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    margin: 0.8rem auto;
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    align-items: center;
    background-color: #e3ae32;
    border: 1px solid #000;
    max-width: 1000px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex-direction: column;
}

.navigation a {
    display: block;
    color: #000;
    margin: auto;
    padding: 30px;
    border: 1px solid #000;
    font-size: 1.2rem;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #000;
}

.hero article {
    position: absolute;
    top: 259px;
    width: 100%;
    padding: 16px;
    margin-left: auto;
    text-align: left;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
    box-sizing: border-box;

}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

section h2 {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

section p {
    text-align: center;
    color: var(--primary-color);

}

.socialmedia a {
    margin: 0;
    padding: 10px;
    opacity: 0.9;
    text-decoration: none;
}

footer {
    border-top: 1px solid #000;
    text-align: left;
}