* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --parragraph-color: #000;
    --main-title-color: lightblue;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: blueviolet;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
}

h1 {
    color: var(--main-title-color);
    padding: 0.5em;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    text-align: center
}

p {
    color: var(--parragraph-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #bbb;
    color: #000;
    text-align: center;
    position: relative;
}

aside img {
    width: 250px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 135px;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/*Class selectors  */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: aquamarine;
    color: #000;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    margin: 1rem;
    grid-column: 2;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}