* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: darkblue;
    --parragraph-color: #000;
    --main-title-color: lightblue;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

h1 {
    color: var(--main-title-color);
    padding: .5em;
}

p {
    color: var(--parragraph-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #bbb;
    color: #000;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 135px;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/*Class selectors  */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: aquamarine;
    color: #000;

}